MonitorHost/AmphiSys.Monitor.AmphiMonitor/Connected Services/ServiceReference1/AmphiSys.AmphiMonitor.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmphiSys.AmphiMonitor.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmphiSys.AmphiMonitor.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NIBP">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Measurement">
        <xs:sequence>
          <xs:element minOccurs="0" name="Diastolic" type="xs:int" />
          <xs:element minOccurs="0" name="MeanArterialPressure" type="xs:int" />
          <xs:element minOccurs="0" name="Systolic" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NIBP" nillable="true" type="tns:NIBP" />
  <xs:complexType name="Measurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeOfMeasuremt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
</xs:schema>