MonitorHost/AmphiSys.Monitor.AmphiMonitor/Connected Services/ServiceReference1/Microsoft.Servicemodel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Microsoft.Servicemodel.Samples" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://Microsoft.Servicemodel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.Servicemodel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.Servicemodel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AmphiSys.AmphiMonitor.WCFService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AmphiSys.AmphiMonitor.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmphiMonitorAccess_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAmphiMonitorAccess_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAmphiMonitorAccess_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAmphiMonitorAccess_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAmphiMonitorAccess_GetNIBP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNIBP" />
  </wsdl:message>
  <wsdl:message name="IAmphiMonitorAccess_GetNIBP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNIBPResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmphiMonitorAccess">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetData" message="tns:IAmphiMonitorAccess_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetDataResponse" message="tns:IAmphiMonitorAccess_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetDataUsingDataContract" message="tns:IAmphiMonitorAccess_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetDataUsingDataContractResponse" message="tns:IAmphiMonitorAccess_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNIBP">
      <wsdl:input wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetNIBP" message="tns:IAmphiMonitorAccess_GetNIBP_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Servicemodel.Samples/IAmphiMonitorAccess/GetNIBPResponse" message="tns:IAmphiMonitorAccess_GetNIBP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>